*.bin
Makefile
Makefile.in
.libs/
.deps/
ltmain.sh
libtool.m4
aclocal.m4
autom4te.cache
config.log
config.status
libtool
ltsugar.m4
ltoptions.m4
ltversion.m4
configure
master_help.xml
scilab_en_US_help
lt~obsolete.m4
config.h.in~
config.h
stamp-h1
config.guess
config.sub
jar/
macros/lib
test/sip_link_test
