*.bin
Makefile
Makefile.in
.libs/
.deps/
ltmain.sh
libtool.m4
aclocal.m4
autom4te.cache
config.log
config.status
libtool
ltsugar.m4
ltoptions.m4
ltversion.m4
configure
scilab_en_US_help
lt~obsolete.m4
config.h.in~
config.h
stamp-h1
config.guess
config.sub
jar/
macros/lib
tests/sip_link_test
*.tar.gz
config/loader.sce
config/loader_include.sce
src/sip_config.h
images/.directory
macros/res.txt
macros/names
help/en_US/master_help.xml
config/sip_xmltohtml.sci
